.about {
  display: grid;
  grid-template-columns: 4.5% 35% auto;
  height: 100%;
  border-bottom: 1px solid white;
}

.text2 {
  margin-top: 10vh;
}

.page-title2 {
  border-right: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  writing-mode: vertical-rl;
  font-size: x-large;
}

@media screen and (max-width: 800px) {
  .about {
    display: grid;
    grid-template-rows: auto auto 4%;
    min-height: 100vh;
  }

  .page-title2 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    writing-mode: unset;
    padding: 0;
    border-top: 1px solid white;
    justify-content: space-around;
  }
}
