.about {
  display: grid;
  grid-template-columns: 4.5% 35% auto;
  height: 100%;
  border-bottom: 1px solid white;
}

.text2 {
  margin-top: 10vh;
}

.page-title2 {
  border-right: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  writing-mode: vertical-rl;
  font-size: x-large;
}

.info-cont {
  width: 90%;
  height: 35%;
  display: flex;
}

.information {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.information div {
  display: flex;
  font-size: 1.5vw;
  margin-top: 5%;
}

.info i {
  font-size: 2.5vw;
  margin-right: 5%;
}

/*skill icon styles */

.head2 {
  font-size: 5vw;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skill-icons {
  display: flex;
  flex-direction: column;
  font-size: 5vw;
}

.skill-icon {
  margin-right: 5%;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20%;
}

.fa-html5:hover {
  color: #db4a25;
  transition: 0.3s;
}

.fa-css3-alt:hover {
  color: #036cb4;
  transition: 0.3s;
}

.fa-python:hover {
  color: #f7d34c;
  transition: 0.3s;
}

.fa-js-square:hover {
  color: #efd829;
  transition: 0.3s;
}

.fa-users:hover {
  color: aqua;
  transition: 0.3s;
}

/* tooltip styling */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 18px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  
  .about {
    display: grid;
    grid-template-rows: auto auto 4%;
  }

  .skill-icons {
    height: 45vh;
  }

  .info-cont {
    align-items: center;
    padding: unset;
  }

  .page-title2 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    writing-mode: unset;
    padding: 0;
    border-top: 1px solid white;
    justify-content: space-around;
    border-right: unset;
  }

  .tooltiptext {
    display: none;
  }

  .icon-box {
    flex-wrap: wrap;
  }
  
  .info-cont {
    display: flex;
    flex-direction: column;
  }
}
