* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/wp2757874-wallpaper-gif.gif);
  background-size: cover;
  background-attachment: fixed;
  color: blanchedalmond;
  font-family: sans-serif;
}

/* navbar styling */
.navbar {
  border-bottom: 1px solid white;
  display: flex;
  height: 10vh;
  position: sticky;
  top: 0;
}

.cornerP {
  width: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  font-size: 30px;
}

.icons {
  width: 35vw;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
}

.icon {
  color: aliceblue;
  padding-left: 5%;
  font-size: 30px;
}

.link-tel {
  display: flex;
}

.links {
  width: 45vw;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
}

.link {
  padding-left: 5%;
  text-decoration: none;
  color: aliceblue;
}

.tel {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 2%;
  text-decoration: none;
  color: aliceblue;
}

/* homepage */

.homePage {
  display: flex;
  height: 91vh;
  border-bottom: 1px solid white;
}

.page-title {
  border-right: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  writing-mode: vertical-rl;
  font-size: x-large;
}

.content-right {
  width: 53.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  object-fit: cover;
  height: 60vh;
  width: 30vw;
  border-radius: 50%;
}

.content-left {
  border-right: 1px solid white;
  width: 35vw;
}

h1 {
  padding: 2%;
  padding-top: 10%;
  font-size: 60px;
}

.stndout {
  color: #f24236;
}

.description {
  padding: 3%;
}

.descr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  gap: 10px;
}

.btn-contain {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.button {
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration-line: none;
  font-size: x-large;
  background-color: #b66449;
  width: 8vw;
  white-space: nowrap;
}

.counters {
  display: flex;
  justify-content: space-around;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter-num {
  font-size: 100px;
}

.counter-name {
  font-size: x-large;
}
