* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/wp2757874-wallpaper-gif.gif);
  background-size: cover;
  background-attachment: fixed;
  color: blanchedalmond;
  font-family: sans-serif;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #151623;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f24236;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

/* navbar styling */
.navbar {
  background-color: #151623;
  border-bottom: 1px solid white;
  display: flex;
  height: 10%;
  position: fixed;
  z-index: 100;
  top: 0;
  list-style-type: none;
}

.cornerP {
  width: 5.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  font-size: 30px;
}

.icons {
  width: 35%;
  display: flex;
  align-items: center;
}

.icon {
  color: aliceblue;
  padding-left: 5%;
  font-size: 30px;
}

.icon:hover {
  color: #f24236;
  transition: 2ms;
}

.link-tel {
  display: flex;
  width: 60.5%;
}

.links {
  width: 80%;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  /* the css needed to make list scrollable */
  overflow: auto;
  white-space: nowrap;
}

.link {
  padding-left: 3%;
  text-decoration: none;
  color: aliceblue;
}

.link:hover {
  color: #f24236;
  transition: 2ms;
}

.tel {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 2%;
  text-decoration: none;
  color: aliceblue;
}

.tel:hover {
  color: #f24236;
  transition: 2ms;
}

/* navbar responsiveness */
.menu-btn {
  display: none;
}

/* homepage */

.homePage {
  display: grid;
  grid-template-columns: 4.5% 35% auto;
  min-height: 90vh;
  margin-top: 10vh;
  border-bottom: 1px solid white;
}

.page-title {
  grid-column: 1 / 2;
  border-right: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  writing-mode: vertical-rl;
  font-size: x-large;
}

.content-right {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  object-fit: cover;
  max-width: 70%;
  height: auto;
}

.profile-stuff {
  display: flex;
  flex-direction: column;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 3%;
  color: #ffd700;
}

.para {
  padding-top: 3%;
}

.content-left {
  grid-column: 2 / 3;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  padding: 2%;
  padding-top: 10%;
  font-size: 5vw;
}

.stndout {
  color: #f24236;
}

.description {
  padding: 3%;
}

.descr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  gap: 10px;
}

.btn-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f24236;
  color: white;
  border-radius: 50px;
  padding: 15px;
  height: 30%;
  width: 8vw;
  font-size: x-large;
  white-space: nowrap;
  text-decoration-line: none;
}

.button:hover {
  background-color: white;
  color: #f24236;
  transition: 0.3s;
}

.counters {
  display: flex;
  justify-content: space-around;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter-num {
  font-size: 100px;
}

.counter-name {
  font-size: x-large;
}

@media screen and (max-width: 800px) {
  .homePage {
    display: grid;
    grid-template-rows: 1fr 1fr 4%;
  }

  .page-title {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    writing-mode: unset;
    padding: 0;
    border-top: 1px solid white;
  }

  .content-left {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }

  .content-right {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }

  .about {
    display: grid;
    grid-template-rows: 1fr 1fr 4%;
  }

  .page-title2 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    writing-mode: unset;
  }

  .cornerP {
    display: none;
  }

  /* navbar responsiveness */
  .icons {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
  }

  .navbar {
    height: 10%;
    display: unset;
    display: grid;
    grid-template: 1fr 1fr / 50% 50%;
  }

  .icons {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
  }

  .tel {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
  }

  .links {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 100%;
  }
}
