.XP {
  display: grid;
  grid-template-columns: 4.5% 35% auto;
  min-height: 102vh;
  border-bottom: 1px solid white;
}

.content-left-xp {
  grid-column: 2 / 3;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* scrollable list */
.vertical-menu {
  width: 100%; /* Set a width if you like */
  height: 90vh;
  overflow-y: auto;
}

.vertical-menu div {
  color: white; /* Black text color */
  display: flex;
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu div:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu div.active {
  background-color: #04aa6d; /* Add a green color to the "active/current" link */
  color: white;
}

.item {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
}

.descr {
  width: 50%;
  display: flex;
}

.about-content {
  display: none;
}
.about-content.active1 {
  display: grid;
}

.XP-list {
  display: flex;
  flex-direction: column;
}

.btn-container {
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .XP {
    display: grid;
    grid-template-rows: 30vh 66vh 4%;
    min-height: 100vh;
  }

  .content-left-xp {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    padding: unset;
  }

  .item {
    height: 200px;
  }
}
